[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-5013/assignment-autotest
[submodule "buildroot"]
	path = buildroot
	url = https://gitlab.com/buildroot.org/buildroot.git
[submodule "aesd-assignments"]
	path = aesd-assignments
	url = git@github.com:cu-ecen-aeld/assignments-3-and-later-marco-vadopiano.git
